input[type=text].invalid , label.invalid{
    border-color: red;
    color: red;
}

input[type='radio'].invalid::before {
    content: "";
    display: inline-block;
    vertical-align: top;
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    margin-right: 0.3rem;
    border-style: solid;
    border-width: 0.05rem;
    border-color: gray;
    background: radial-gradient(#eaecf4 0%, #eaecf4 50%, red );
    border-color: red;
}

.nice-scrollbar{
	overflow-y:hidden;
}

.nice-scrollbar:hover{
	overflow-y:scroll;
}

.nice-scrollbar::-webkit-scrollbar-track
{
	/* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
	background-color: #F5F5F5;
}

.nice-scrollbar::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

.nice-scrollbar::-webkit-scrollbar-thumb
{
	background-color: #4e73df;
	border: 0;
	border-radius: 5px;
}

.float{
    z-index: 1049;
    position:fixed;
    width:2.75rem;
    height:2.75rem;
    bottom:15px;
    right:1rem;
    border-radius:5px;
    text-align:center;
    box-shadow: 2px 5px 10px #999;
}

.bg-pattern{
    width: 100vw;
    height: 100vh;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="112" height="112"><svg xmlns="http://www.w3.org/2000/svg" fill="rgb(78,115,222)" width="24" height="24" viewBox="0 0 24 24"><path d="M12 4.707c-2.938-1.83-7.416-2.567-12-2.707v17.714c3.937.12 7.795.681 10.667 1.995.846.388 1.817.388 2.667 0 2.872-1.314 6.729-1.875 10.666-1.995v-17.714c-4.584.14-9.062.877-12 2.707zm-10 13.104v-13.704c5.157.389 7.527 1.463 9 2.334v13.168c-1.525-.546-4.716-1.505-9-1.798zm20 0c-4.283.293-7.475 1.252-9 1.799v-13.171c1.453-.861 3.83-1.942 9-2.332v13.704z"/></svg><svg xmlns="http://www.w3.org/2000/svg" fill="rgb(78,115,222)" width="78" height="78" viewBox="-54 -54 78 78"><path d="M12 4.707c-2.938-1.83-7.416-2.567-12-2.707v17.714c3.937.12 7.795.681 10.667 1.995.846.388 1.817.388 2.667 0 2.872-1.314 6.729-1.875 10.666-1.995v-17.714c-4.584.14-9.062.877-12 2.707zm-10 13.104v-13.704c5.157.389 7.527 1.463 9 2.334v13.168c-1.525-.546-4.716-1.505-9-1.798zm20 0c-4.283.293-7.475 1.252-9 1.799v-13.171c1.453-.861 3.83-1.942 9-2.332v13.704z"/></svg><svg xmlns="http://www.w3.org/2000/svg" fill="rgb(78,115,222)" width="78" height="78" viewBox="-54 0 78 78"><path d="M7.127 22.562l-7.127 1.438 1.438-7.128 5.689 5.69zm1.414-1.414l11.228-11.225-5.69-5.692-11.227 11.227 5.689 5.69zm9.768-21.148l-2.816 2.817 5.691 5.691 2.816-2.819-5.691-5.689z"/></svg><svg xmlns="http://www.w3.org/2000/svg" fill="rgb(78,115,222)" width="78" height="78" viewBox="0 -54 78 78"><path d="M7.127 22.562l-7.127 1.438 1.438-7.128 5.689 5.69zm1.414-1.414l11.228-11.225-5.69-5.692-11.227 11.227 5.689 5.69zm9.768-21.148l-2.816 2.817 5.691 5.691 2.816-2.819-5.691-5.689z"/></svg></svg>');
    background-position: left top;
    background-repeat: repeat;
    background-size: unset;
}

.br-t-0{
    border-top-left-radius: 0!important;
    border-top-right-radius: 0!important;
}

.br-b-0{
    border-bottom-left-radius: 0!important;
    border-bottom-right-radius: 0!important;
}

.nav-link.active{
    color: #ffffff!important;
    background-color: #3960cf!important;
    border-color: #dddfeb #dddfeb #3158c9!important;
}

div.custom-control-right {
    padding-right: 24px;
    padding-left: 0;
    margin-left: 0;
    margin-right: 0;
}
div.custom-control-right .custom-control-label::after{
    right: -1.5rem;
    left: auto;
}
div.custom-control-right .custom-control-label::before {
    right: -2.35rem;
    left: auto;
}